* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Neuehaasunica-Regular';
  src: url('./assets/fonts/NeuehaasunicaRegular.woff2');
}
@font-face {
  font-family: 'Neuehaasunica-Medium';
  src: url('./assets/fonts/NeuehaasunicaMedium.woff2');
}
:root {
  --side-padding: 3rem;
}
body{
  font-family: 'Neuehaasunica-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.main{
  position: relative;
  overflow: hidden;
  max-width: 100vw;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}