.page8 {
  background: white;
  width: 100vw;
  position: relative;
  padding-top: 9rem;
  padding-bottom: 9rem;
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
  min-height: 100vh;
}
