.page1 {
  min-height: 100dvh;
  width: 100vw;
  /* background-color: red; */
  background-color: #71818e;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img-wrapper {
  position: absolute;
  width: 60vw;
  right: 9vw;
  bottom: -2rem;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page1 .content {
  position: relative;
  z-index: 3;
  padding: 0 var(--side-padding);
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 13rem;
  /* margin-bottom: 2rem; */
  /* background-color: yellow; */
}

.page1 .content > div:nth-of-type(1) {
  margin-bottom: 2rem;
}
.content h1 {
  letter-spacing: -0.15rem;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1;
  font-family: 'Neuehaasunica-Medium', sans-serif;
  color: white;
  max-width: 60vw;
}

.learn-more-button {
  overflow: hidden;
  width: fit-content;
  background: white;
  color: black;
  margin-top: 1.5rem;
  border: none;
  padding: 1rem 1.2rem;
  width: 7rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 12px;
  transition: width 0.3s ease-in;
  position: relative;
}
.button-wrapper {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: -20px;

  /* background: rgb(217, 179, 179); */
  /* width: 80%; */
  transition: all 0.3s ease-in;
}
.button-wrapper p {
  white-space: nowrap;
}

.learn-more-button img {
  width: 30px;
  position: relative;
  height: 0.7rem;
  display: block;
  top: 0;
  transition: all 0.6s ease-in;
  /* object-fit: contain; */
}
/* .learn-more-button:hover {
  width: 9rem;
}

.learn-more-button:hover img {
  position: relative;
  left: 0;
  transform: translateY(0);
  width: 30px;
} */
.learn-more-button:hover {
  width: 9rem;
}
/* .learn-more-button:hover .button-wrapper{
  width: 100%;

} */
.learn-more-button:hover .button-wrapper {
  left: 0;
}

.baba {
  overflow: hidden;
}

.big-nova {
  /* bottom: 1rem;
  margin-top: auto;
  height: 17rem;
  margin-bottom: 1rem; */
  /* position: relative;
  bottom: 1rem; */
  /* height: 40vh; */
}
.big-nova p {
  color: white;
  letter-spacing: -0.03em;
  font-family: 'Neuehaasunica-Medium', sans-serif;
  font-size: 18rem;
   font-kerning: none;
  font-weight: bold;
  }
.big-nova .char {
  font-kerning: none;
  transform: translateY(500px);
}
